{# src/Hvz/GameBundle/Resources/views/Profile/edit_clan.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-input/paper-input.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card" flex>
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal" vertical layout center>
			<paper-input id="clan" floatingLabel label="Clan" value="{{ profile.clan }}"></paper-input>
			<paper-button id="submit_clan" label="Submit" raisedButton></paper-button>
			<form id="clan_form" method="post" action="{{ path('hvz_profile_submit_clan') }}">
				<input type="hidden" name="_token" value="{{ csrf_token('hvz_edit_clan') }}">
				<input type="hidden" id="clan_hidden" name="clan">
			</form>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	{{ parent() }}

	<script>
		$(function() {
			$('#submit_clan').click(function() {
				var clan = $("#clan").val();
				if(clan) {
					$('#clan_hidden').val(clan);
				}
				else {
					$('#clan_hidden').val('null');
				}
				$('#clan_form').submit();
			});
		});
	</script>
{% endblock %}
