{% extends 'HvzGameBundle::base.html.twig' %}
{% import 'HvzGameBundle::components.html.twig' as components %}

{% block title %}
    Your Profile | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'user', 'profile') }}

    <div class="container">
        <div class="vertical-space"></div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-4 bg-{{ proflie.team }}">
                <h3>{{ app.user.fullname }}</h3>
                <p><strong>Email:</strong> {{ app.user.email }}</p>
                <p><strong>Team:</strong> {{ profile.team | default('nonea') }}</p>
                <p>
                    <strong>Clan:</strong> {{ profile.clan | default('none') }}
                    <a href="{{ path('hvz_profile_edit_clan') }}" class="btn btn-primary btn-sm">Edit</a>
                </p>
                {% for badge in profile.badges %}
                    <img data-toggle="tooltip" data-placement="top" data-html="true"
                         title="<p><strong>{{ badge.name }}</strong></p><p>{{ badge.description }}</p>"
                         src="{{ asset('bundles/hvzgame/images/badges/' ~ badge.image) }}"
                         alt="{{ badge.name }} badge">
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <h3 class="hidden-xs">&nbsp;</h3>
                <p><strong>Player ID:</strong> {{ profile.player_id }} <small class="text-muted">(use as a zombie)</small></p>
                <p><strong>ID Tags:</strong> <small class="text-muted">(give to zombies as a human)</small></p>
                <ul>
                    {% for id in profile.id_tags %}
                        <li>
                            {% if id.active == false %}
                                <s>{{ id.tag }}</s>
                            {% else %}
                                {{ id.tag }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <h1 class="header-text">{{ profile.tags }} Tag{% if profile.tags != 1 %}s{% endif %}</h1>
                {% for tag in profile.infections %}
                    <p><strong>{{ tag.victim }}</strong> <em>{{ time_diff(tag.time) }}</em></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}