{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Infections | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'infections') }}

    <div class="container">
        <div class="vertical-space"></div>
        <div class="vertical-space"></div>
        <div class="row">
            <div id="tag-list" class="col-md-12 text-center">
                {% for infection in infections if infection.zombie != null %}
                    <p><strong>{{ infection.human }}</strong> was tagged by <strong>{{ infection.zombie }}</strong> <em>{{ time_diff(infection.time) }}</em></p>
                {% else %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>There were no infections found</h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if page is defined and (page > 0 or continues == true)%}
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <ul class="pager">
                        {% if page > 0 %}
                            <li><a href="{{ path('web_infections', {'page': page - 1}) }}">&larr; Previous</a></li>
                        {% endif %}
                        {% if continues == true %}
                            <li><a href="{{ path('web_infections', {'page': page + 1}) }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}