{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Missions | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'missions') }}

    <div class="container">
        <div class="row visible-xs">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked side-nav">
                    {% for mission in missions %}
                        <li><a href="#mission-{{ loop.index }}">{{ mission.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-3">
                <ul class="nav nav-pills nav-stacked side-nav" data-spy="affix">
                    {% for mission in missions %}
                        <li><a href="#mission-{{ loop.index }}">{{ mission.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                {% for mission in missions %}
                    <section>
                        <a id="mission-{{ loop.index }}" class="offset"></a>
                        <h2>{{ mission.title }}</h2>
                        <div>
                            {{ mission.body | raw }}
                        </div>
                    </section>
                {% else %}
                    <h1>There were no missions found</h1>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}