{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Your Profile | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'user', 'profile') }}

    <div class="container">
        <div class="vertical-space"></div>
        <div class="vertical-space"></div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-4 bg-{{ profile.team }}">
                <h3>{{ profile.fullname }}</h3>
                <p><strong>Email:</strong> {{ profile.email }}</p>
                <p><strong>Team:</strong> {{ profile.team | default('none') }}</p>
                <p>
                    <strong>Clan:</strong> {{ profile.clan | default('none') }}
                    <a href="{{ path('web_profile_change_clan') }}" class="btn btn-primary btn-sm">Edit</a>
                </p>
                {% for badge in profile.badges %}
                    <img data-toggle="tooltip" data-placement="top" data-html="true"
                         title="<p><strong>{{ badge.name }}</strong></p><p>{{ badge.description }}</p>"
                         src="{{ asset('assets/images/badges/' ~ badge.image) }}"
                         alt="{{ badge.name }} badge">
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <h3 class="hidden-xs">&nbsp;</h3>
                <p><strong>API Key:</strong> {{ profile.apikey }}</p>
                <p><strong>Zombie Id:</strong> {{ profile.zombieId }} <small class="text-muted">(use as a zombie)</small></p>
                <p><strong>Human Ids:</strong> <small class="text-muted">(give to zombies as a human)</small></p>
                <ul>
                    {% for id in profile.humanIds %}
                        <li>
                            {% if id.active == false %}
                                <s>{{ id.id_string }}</s>
                            {% else %}
                                {{ id.id_string }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <h1 class="header-text">{{ profile.humansTagged }} Tag{% if profile.humansTagged != 1 %}s{% endif %}</h1>
                {% for infection in profile.infections %}
                    <p><strong>{{ infection.human }}</strong> <em>{{ time_diff(infection.time) }}</em></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}