{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Register Infection | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'register-infection') }}

    <div class="container">
        <div class="vertical-space"></div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Register Infection</h2>
            </div>
        </div>

        {% if errors is defined %}
            <div id="errors">
                {% for error in errors %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <p class="bg-warning">{{ error }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form method="post" action="{{ path('web_register_infection_submit') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('hvz_register_infection') }}">
                    <input type="hidden" name="latitude" id="latitude">
                    <input type="hidden" name="longitude" id="longitude">
                    <div class="form-group">
                        <label for="human_id">Human ID</label>
                        <input type="text" class="form-control" id="human_id" name="human" placeholder="human id"
                               {% if human is defined %}value="{{ human }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="zombie_id">Zombie ID</label>
                        <input type="text" class="form-control" id="zombie_id" name="zombie" placeholder="zombie id"
                               {% if zombie is defined %}value="{{ zombie }}"{% endif %}>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <p class="text-muted">Location: <span id="loc-status">NOT SENDING</span></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $(function() {
                $("#latitude").val(null);
                $("#longitude").val(null);
            });

            navigator.geolocation.getCurrentPosition(function(pos) {
                $('#latitude').val(pos.coords.latitude);
                $('#longitude').val(pos.coords.longitude);
                $('#loc-status').html("OK");
            }, function() {}, {enableHighAccuracy: true, timeout: Infinity, maximumAge: 0});
        });
    </script>
{% endblock %}