{% extends '::base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Status | {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="jumbotron header">
        <div class="video-container">
            <video class="header-video" autoplay loop muted>
                <source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"> <!-- todo: replace with actualy video -->
                <source src="http://video.blendertestbuilds.de/download.blender.org/peach/trailer_480p.mov" type="video/mp4">
            </video>
        </div>
        <div class="container header-text text-center">
            {% if game %}
                <h1 id="countdown">
                    <strong>{{ game.time.days }}</strong> days <strong>{{ game.time.hours }}</strong> hours <strong>{{ game.time.minutes }}</strong> minutes <strong>{{ game.time.seconds }}</strong> seconds
                </h1>
            {% else %}
                <h1>
                    <strong>There is no game currently scheduled</strong>
                </h1>
            {% endif %}
        </div>
    </div>

    {{ components.navbar('lower', 'status') }}

    <div class="container">
        <div class="row">
            <div class="well col-sm-5 text-center bg-human large-text">
                {% if game %}
                    <h1><strong>{{ team.humans }}</strong></h1>
                    Human{% if team.humans != 1 %}s{% endif %}
                {% else %}
                    There is no game scheduled
                {% endif %}
            </div>
            <div class="col-sm-2 text-center large-text">
                <h1>VS</h1>
            </div>
            <div class="well col-sm-5 text-center bg-zombie large-text">
                {% if game %}
                    <h1><strong>{{ team.zombies }}</strong></h1>
                    Zombie{% if team.zombies != 1 %}s{% endif %}
                {% else %}
                    There is no game scheduled
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div id="infection-chart" class="col-md-12" style="height: 250px;">
            </div>
        </div>
        <div class="row">
            {% if infections is not null %}
                <div class="col-sm-6 text-center">
                    <h1>Recent Infections</h1>
                    {% for infection in infections %}
                        <p><strong>{{ infection.human }}</strong> was tagged by <strong>{{ infection.zombie }}</strong> <em>{{ time_diff(infection.time) }}</em></p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if top_players is not null %}
                <div class="col-sm-6 text-center">
                    <h1>Top Players</h1>
                    {% for player in top_players %}
                        {% if player.humansTagged > 0 %}
                            <p><strong>{{ player.fullname }}</strong> with <strong>{{ player.humansTagged }}</strong> tags</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}

    {% javascripts 'assets/bower_components/jquery.countdown/dist/jquery.countdown.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if timeline is defined and timeline|length > 0 %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawInfectionChart);

            function drawInfectionChart() {
                var data = google.visualization.arrayToDataTable([
                        ['Time', '# Infections', {role: 'tooltip'}],
                        {% for entry in timeline %}
                            ['{{ entry.time_str | e('js') }}', {{ entry.count }}, '{{ entry.count }} infection{% if entry.count != 1 %}s{% endif %}'],
                        {% endfor %}
                ]);

                var options = {
                    title: 'Infection Timeline',
                    colors: ['black'],
                    legend: 'none'
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('infection-chart'));
                chart.draw(data, options);

                $(window).resize(function() {
                    chart.draw(data, options);
                });
            }
        </script>
    {% endif %}

    {% if game %}
        <script type="text/javascript">
            $(function() {
                $("#countdown").countdown({{ game.time.timestamp }}*1000, function (event) {
                    $(this).html(event.strftime(''
                            + '<strong>%-D</strong> day%!D '
                            + '<strong>%-H</strong> hour%!H '
                            + '<strong>%-M</strong> minute%!M '
                            + '<strong>%-S</strong> second%!S'
                    ));
                });
            });
        </script>
    {% endif %}
{% endblock %}