{# src/Hvz/GameBundle/Resources/views/bootstrap-base.html.twig #}
<!DOCTYPE html>
<html lang="{{ language | default('en') }}">
<head>
	{% block meta %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="{{ description | default('') }}">
	    <meta name="author" content="{{ author | default('') }}">
    {% endblock %}

	<link rel="shortcut icon" type="image/png" href="{{ asset('bundles/hvzgame/images/favicon.png') }}">

    <title>{{ title | default('Humans vs Zombies @ RIT') }}</title>

    {% block stylesheets %}
	    <!-- Bootstrap core CSS -->
	    <link href="{{ asset('bundles/hvzgame/css/bootstrap.min.css') }}" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="{{ asset('bundles/hvzgame/css/main.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="{{ asset('bundles/hvzgame/js/html5shiv.min.js') }}"></script>
	      <script src="{{ asset('bundles/hvzgame/js/respond.min.js') }}"></script>
	    <![endif]-->
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
	{% block pre_container %}
	{% endblock %}

	<div class="container">
		{% block container %}
		{% endblock %}

		<hr>
		
		<footer>
			<p>© 2013 Sam Bloomberg, all rights reserved.</p>
		</footer>
	</div>

	{% block body_javascripts %}
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="{{ asset('bundles/hvzgame/js/jquery-1.11.0.min.js') }}"></script>
	    <script src="{{ asset('bundles/hvzgame/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/hvzgame/js/holder.min.js') }}"></script>
	{% endblock %}

</body>
</html>