<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="description" content="{{ description | default('') }}">
        <meta name="author" content="{{ author | default('') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ff7519">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    {% endblock %}

    <title>{% block title %}HvZ @ RIT{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'
        'assets/bower_components/bootswatch/cosmo/bootstrap.min.css'
        'assets/bower_components/snackbarjs/dist/snackbar.min.css'
        'assets/bower_components/snackbarjs/themes-css/material.css'
        'assets/css/app.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body{% block body_def %}{% endblock %}>
{% block body %}
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://play.google.com/store/apps/details?id=edu.rit.hvz.android">
                        <img alt="Android app on Google Play"
                             src="{{ asset('assets/images/google_play.png') }}" />
                    </a>
                    <a href="#">
                        <img alt="iOS app on the App Store"
                             src="{{ asset('assets/images/app_store.png') }}" />
                    </a>
                </div>
                <div class="col-sm-6">
                    <p class="text-muted pull-right">
                        Copyright &copy; 2015 |
                        <a href="{{ path('web_contact') }}">Contact</a> |
                        <a href="https://github.com/redxdev/hvzapi-docs">API</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {% javascripts
    'assets/bower_components/jquery/dist/jquery.min.js'
    'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'
    'assets/bower_components/snackbarjs/dist/snackbar.min.js'
    'assets/bower_components/holderjs/holder.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block snackbars %}
        {% set toasts = app.session.flashbag.get('page.toast') %}
        {% if toasts and toasts|length > 0 %}
            <script type="text/javascript">
                $(function() {
                    {% for toast in toasts %}
                    $.snackbar({
                        content: "{{ toast | e('html') | e('js') }}",
                        style: "snackbar",
                        timeout: 4000
                    });
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
</body>
</html>
