{% macro nav_internal_link(id, url, text, selected) %}
    <li{% if id == selected %} class="active"{% endif %}><a href="{{ url }}">{{ text }}</a></li>
{% endmacro %}

{% macro navbar(type, selected, selected2) %}
    {% import _self as components %}
    <div class="navbar navbar-default navbar-{{ type }}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="visible-lg visible-md navbar-brand navbar-brand-centered">
                    <a href="{{ path('web_status') }}">
                        {% if type == "lower" %}
                            <img class="logo" src="holder.js/150x150" alt="HvZ @ RIT">
                        {% else %}
                            <img class="logo" src="holder.js/100x100" alt="HvZ @ RIT">
                        {% endif %}
                    </a>
                </div>
                <div class="visible-xs visible-sm navbar-brand">
                    HvZ @ RIT
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-main-nav">
                <ul class="nav navbar-nav">
                    {{ components.nav_internal_link('status', path('web_status'), 'Status', selected) }}
                    {{ components.nav_internal_link('players', path('web_players'), 'Players', selected) }}
                    {{ components.nav_internal_link('infections', path('web_infections'), 'Infections', selected) }}
                    {# TODO: Spread page #}
                    {#{{ components.nav_internal_link('spread', '#', 'Spread', selected) }}#}
                    {% if is_granted('ROLE_USER') %}
                        {{ components.nav_internal_link('missions', path('web_missions'), 'Missions', selected) }}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{ components.nav_internal_link('rules', path('web_rules'), 'Rules', selected) }}
                    {{ components.nav_internal_link('register-infection', path('web_register_infection'), 'Register Infection', selected) }}

                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown{% if selected == 'user' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ app.user.fullname | escape }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {{ components.nav_internal_link('profile', path('web_profile'), 'Profile', selected2) }}
                                <li><a href="{{ path('web_auth_logout', {'token': csrf_token('auth_logout')}) }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('web_auth_login_redirect') }}">Login</a></li>
                                <li><a href="{{ path('web_auth_register_redirect') }}">Register</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {#{% if is_granted('ROLE_MOD') %}
                        <li class="dropdown{% if selected == 'admin' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ components.nav_internal_link('games', path('hvz_admin_games'), 'Games', selected2) }}
                                {{ components.nav_internal_link('users', path('hvz_admin_users'), 'Users', selected2) }}
                                {{ components.nav_internal_link('profiles', path('hvz_admin_profiles'), 'Profiles', selected2) }}
                                {{ components.nav_internal_link('missions', path('hvz_admin_missions'), 'Missions', selected2) }}

                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ components.nav_internal_link('rules', path('hvz_admin_rules'), 'Rules', selected2) }}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}#}
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro delete_dialog(text) %}
    <div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="delete-dialog-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="delete-dialog-label">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>{{ text }} <span id="delete-id">ERROR</span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="delete-button" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro delete_dialog_script() %}
    <script type="text/javascript">
        function showDeleteDialog(game, path) {
            $("#delete-id").html(game);
            $("#delete-button").click(function() {
                window.location = path;
            });

            $('#delete-dialog').modal('show');
        }
    </script>
{% endmacro %}