{% extends ':Admin:base.html.twig' %}
{% import '::components.html.twig' as components %}

{% block title %}
    Edit Ruleset | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'admin', 'rulesets') }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Edit Ruleset</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Save" class="btn btn-default pull-right">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}

    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>

    <script type="text/javascript">
        $(function() {
            CKEDITOR.replace('ruleset_body');
        });
    </script>
{% endblock %}