{# src/Hvz/GameBundle/Resources/views/Game/players.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'players' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="text-center">Active Players</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Player Name</th>
						<th>Clan</th>
						<th>Team</th>
						<th>Tags</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players %}
						<tr>
							<td><img src="{{ player.avatar | default('holder.js/90x90') }}" alt="avatar" class="img-thumbnail"></td>
							<td>{{ player.fullname }}</td>
							<td>{{ player.clan | default('--') }}</td>
							<td>
								{% if player.team == 'human' %}
									<img src="{{ asset('bundles/hvzgame/images/fist.png') }}" alt="Human" title="Human" width="32" height="32">
								{% else %}
									<img src="{{ asset('bundles/hvzgame/images/biohazard.png') }}" alt="Zombie" title="Zombie" width="32" height="32">
								{% endif %}
							</td>
							<td>{{ player.tags }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}