{# src/Hvz/GameBundle/Resources/views/Component/posts.html.twig #}
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">News</h1>
	</div>
</div>

{% if posts is empty %}
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center"><small>There aren't any posts here!</small></h2>
		</div>
	</div>
{% endif %}

{% for post in posts %}
	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<h2>{{ post.title }} {% if post.subtitle is not null %}<small>{{ post.subtitle }}</small>{% endif %}</h2>
				</div>
				<div class="col-md-5">
					<div class="col-md-4">
						<img class="img-thumbnail img-responsive" src="holder.js/64x64" width="64" height="64">
					</div>
					<div class="col-md-8">
						<p><strong>{{ post.user }}</strong></p>
						<p>{{ post.date }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ post.body | raw | nl2br }}
				</div>
			</div>
		</div>
	</div>
{% endfor %}