{# src/Hvz/GameBundle/Resources/views/Admin/edit_avatar.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
{% endblock %}

{% block toolbar %}
	Administration: Edit Avatar
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal" vertical layout center>
			<h3 class="header">{{ profile.user }}</h3>
			<div id="webcam" style="width: 300px; height: 300px;">
			</div>
			<a href="javascript:void(take_snapshot())"><paper-button label="Take Picture" raisedButton></paper-button></a>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	{{ parent() }}

	<script src="{{ asset('bundles/hvzgame/js/webcam.min.js') }}"></script>
	<script>
		Webcam.setSWFLocation("{{ asset('bundles/hvzgame/flash/webcam.swf') }}");
		Webcam.attach("#webcam");

		function take_snapshot() {
			var data_uri = Webcam.snap();
			Webcam.upload(data_uri,
				"{{ path('hvz_admin_profile_avatar_submit', {'id': profile.id}) }}",
				'form[avatarFile]',
				function(code, text) {
					window.location = text;
			});
		}
	</script>
{% endblock %}
