{# src/Hvz/GameBundle/Resources/views/Admin/edit_mission.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-input/paper-input.html') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('bundles/hvzgame/bower_components/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block toolbar %}
	<span flex>Administration: Edit Ruleset</span>
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal" vertical layout center>
			<paper-input floatinglabel id="p-title" label="Title"></paper-input>
			<paper-input floatinglabel id="p-position" label="Position" style="width: 100px;" validate="^[0-9]*$"></paper-input>
			<textarea id="p-body" rows="10" cols="80"></textarea>
			<paper-button id="fake-submit" label="Submit" raisedButton></paper-button>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	<div id="internal-form">
		{{ form(form) }}
	</div>

	{{ parent() }}

	<script>
		document.addEventListener('polymer-ready', function() {
			$("#p-title").val($("#form_title").val());
			$("#p-position").val($("#form_position").val());

			CKEDITOR.replace('p-body');
			CKEDITOR.instances['p-body'].setData($("#form_body").val());
		});

		$(function() {
			$("#fake-submit").click(function() {
				var error = false;

				if(error) {
					alert("There are problems with your input.");
				}
				else {
					$("#form_title").val($("#p-title").val());
					$("#form_position").val($("#p-position").val());
					$("#form_body").val(CKEDITOR.instances['p-body'].getData());

					$("#form_save").click();
				}
			});
		});
	</script>
{% endblock %}
