{# src/Hvz/GameBundle/Resources/views/Admin/edit_user.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-input/paper-input.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-radio-group/paper-radio-group.html') }}">
{% endblock %}

{% block toolbar %}
	<span flex>Administration: Edit User</span>
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal" vertical layout center>
			<paper-input floatingLabel id="p-fullname" label="Full Name"></paper-input>
			<paper-input floatingLabel id="p-email" label="Email"></paper-input>
			<p><strong>Role:</strong></p>
			<paper-radio-group id="p-role" selected="0">
				<paper-radio-button label="ROLE_USER"></paper-radio-button>
				<paper-radio-button label="ROLE_MOD"></paper-radio-button>
				<paper-radio-button label="ROLE_ADMIN"></paper-radio-button>
			</paper-radio-group>
			<paper-button id="fake-submit" label="Submit" raisedButton></paper-button>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	<div id="internal-form">
		{{ form(form) }}
	</div>

	{{ parent() }}

	<script>
		document.addEventListener('polymer-ready', function() {
			$("#p-fullname").val($("#form_fullname").val());
			$("#p-email").val($("#form_email").val());

			var selected = -1;
			switch($("#form_roles_0").val()) {
				case "ROLE_USER":
					selected = 0;
					break;

				case "ROLE_MOD":
					selected = 1;
					break;

				case "ROLE_ADMIN":
					selected = 2;
					break;
			}

			$("#p-role").prop("selected", selected)
		});

		$(function() {
			$("#fake-submit").click(function() {
				var error = false;

				if(error) {
					alert("There are problems with your input.");
				}
				else {
					$("#form_fullname").val($("#p-fullname").val());
					$("#form_email").val($("#p-email").val());

					var role = null;
					switch($("#p-role").prop("selected")) {
						case 0:
							role = "ROLE_USER";
							break;

						case 1:
							role = "ROLE_MOD";
							break;

						case 2:
							role = "ROLE_ADMIN";
							break;
					}

					if(role !== null) {
						$("#form_roles_0").val(role);
					}

					$("#form_save").click();
				}
			});
		});
	</script>
{% endblock %}
