{# src/Hvz/GameBundle/Resources/views/Admin/edit_user.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/components/paper-input/paper-input.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/components/paper-checkbox/paper-checkbox.html') }}">
{% endblock %}

{% block toolbar %}
	<span flex>Administration: Edit User</span>
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal" vertical layout center>
			<paper-input floatingLabel id="p-fullname" label="Full Name"></paper-input>
			<paper-input floatingLabel id="p-email" label="Email"></paper-input>
			<paper-input floatingLabel id="p-role" label="Role"></paper-input>
			<paper-button id="fake-submit" label="Submit" raisedButton></paper-button>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	<div id="internal-form">
		{{ form(form) }}
	</div>

	{{ parent() }}

	<script>
		document.addEventListener('polymer-ready', function() {
			$("#p-fullname").val($("#form_fullname").val());
			$("#p-email").val($("#form_email").val());
			$("#p-role").val($("#form_roles_0").val());
		});

		$(function() {
			$("#fake-submit").click(function() {
				var error = false;

				if(error) {
					alert("There are problems with your input.");
				}
				else {
					$("#form_fullname").val($("#p-fullname").val());
					$("#form_email").val($("#p-email").val());
					$("#form_roles_0").val($("#p-role").val());

					$("#form_save").click();
				}
			});
		});
	</script>
{% endblock %}
