{# src/Hvz/GameBundle/Resources/views/Admin/edit_profile.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
{% endblock %}

{% block toolbar %}
	<span flex>Administration: Give Badge</span>
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal" vertical layout center>
			<h3 class="header">{{ profile.user }}</h3>
			<div horizontal layout wrap>
				{% for badge in badges %}
					<div class="card-section" style="margin: 5px;" vertical layout center center-justified>
						<img src="{{ asset('bundles/hvzgame/images/badges/' ~ badge.image) }}"
							alt="{{ badge.name }} badge"
							width="50" height="50">
						<p><strong>{{ badge.name }}</strong></p>
						<p>{{ badge.description }}</p>
						<p>
							<a href="{{ path('hvz_admin_profile_give_badge_submit', {'id': profile.id, 'badge': badge.id}) }}">
								<paper-button label="Give" raisedButton></paper-button>
							</a>
						</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
