{# src/Hvz/GameBundle/Resources/views/Admin/users.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog-transition.html') }}">
{% endblock %}

{% block toolbar %}
	<span flex>Administration: Missions</span>
	<a href="{{ path('hvz_admin_mission_create') }}"><core-icon-button icon="add"></core-icon-button></a>
{% endblock %}

{% block content %}
	{{ parent() }}

	{% for mission in missions %}
		<div class="card" vertical layout>
			<paper-shadow z="1"></paper-shadow>
			<div class="card-{{ mission.team }}" horizontal layout center justified wrap>
				<div class="card-section" style="margin-left: 10px;" flex>
					<h2>{{ mission.title }}</h2>
				</div>
				<div class="card-section" flex>
					<p><strong>Game:</strong> {{ mission.game }}</p>
					<p><strong>Team:</strong> {{ mission.team }}</p>
				</div>
				<div class="card-section" flex>
					<p><strong>Post date:</strong> {{ mission.postdate }}</p>
				</div>
				<div class="card-section" flex>
					<a href="{{ path('hvz_admin_mission_edit', {'id': mission.id}) }}"><paper-button label="Edit" raisedButton></paper-button></a>
					<a href="#" onclick="showDeleteDialog('{{ mission.title | e('js') }}', '{{ path('hvz_admin_mission_delete', {'id': mission.id}) }}')">
						<paper-button label="Delete" raisedButton></paper-button>
					</a>
				</div>
			</div>
			<div style="margin-top: 20px;">
				{{ mission.body | raw | nl2br }}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block body_javascripts %}
	<paper-dialog id="delete-dialog" heading="Delete" transition="paper-dialog-transition-center">
		<p>Are you sure you want to delete the mission <span id="delete-id">ERROR</span></p>

		<paper-button label="Cancel" affirmative></paper-button>
		<paper-button id="delete-button" label="Delete" affirmative autofocus></paper-button>
	</paper-dialog>

	{{ parent() }}

	<script>
		function showDeleteDialog(mission, path) {
			$("#delete-id").html(mission);
			$("#delete-button").click(function() {
				window.location = path;
			});

			var dialog = document.querySelector('#delete-dialog');
			dialog.toggle();
		}
	</script>
{% endblock %}
