{% extends 'HvzGameBundle::base.html.twig' %}
{% import 'HvzGameBundle::components.html.twig' as components %}

{% block title %}
    Profiles | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'admin', 'users') }}

    <div class="container">
        <div class="vertical-space"></div>

        {% for profile in profiles %}
            <div class="row well {% if player.team == 'human' %}bg-human{% else %}bg-zombie{% endif %}">
                <div class="col-sm-4">
                    <p><strong>User:</strong> {{ profile.user }}</p>
                    <p><strong>Active:</strong> {{ profile.active }}</p>
                    <p><strong>Game:</strong> {{ profile.game }}</p>
                </div>
                <div class="col-sm-4">
                    <p><strong>Team:</strong> {{ profile.team }}</p>
                    <p><strong># Tagged:</strong> {{ profile.numberTagged }}</p>
                    <p><strong>Clan:</strong> {{ profile.clan | default('none') }}</p>
                </div>
                <div class="col-sm-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="{{ path('hvz_admin_profile_view', {'id': profile.id}) }}">
                                View
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('hvz_admin_profile_edit', {'id': profile.id}) }}">
                                Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="showDeleteDialog('{{ profile.user | e('js') }}', '{{ path('hvz_admin_profile_delete', {'id': profile.id, 'token': csrf_token('hvz_profile_delete')}) }}')">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        {% if previous_page is defined or next_page is defined %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <ul class="pager">
                        {% if previous_page is defined and previous_page != -1 %}
                            <li><a href="{{ path('hvz_admin_profiles', {'page': previous_page}) }}">&larr; Previous</a></li>
                        {% endif %}
                        {% if next_page is defined and next_page != -1%}
                            <li><a href="{{ path('hvz_admin_profiles', {'page': next_page}) }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block body_javascripts %}
	{{ components.delete_dialog('Are you sure you want to delete the profile for') }}

    {{ parent() }}

    {{ components.delete_dialog_script() }}
{% endblock %}
