{# src/Hvz/GameBundle/Resources/views/Admin/users.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog-transition.html') }}">
{% endblock %}

{% block toolbar %}
	<span flex>Administration: Rules</span>
	<a href="{{ path('hvz_admin_rule_create') }}"><core-icon-button icon="add"></core-icon-button></a>
{% endblock %}

{% block content %}
	{{ parent() }}

	{% for rule in rules %}
		<div class="card" vertical layout>
			<paper-shadow z="1"></paper-shadow>
			<div horizontal layout center justified wrap>
				<div class="card-section" flex>
					<p><strong>Title:</strong> {{ rule.title }}</p>
					<p><strong>Position:</strong> {{ rule.position }}</p>
				</div>
				<div class="card-section" vertical layout flex>
					<a href="{{ path('hvz_admin_rule_edit', {'id': rule.id}) }}"><paper-button label="Edit" raisedButton></paper-button></a>
					<a href="#" onclick="showDeleteDialog('{{ rule.title | e('js') }}', '{{ path('hvz_admin_rule_delete', {'id': rule.id, 'token': csrf_token('hvz_rule_delete')}) }}')">
						<paper-button label="Delete" raisedButton></paper-button>
					</a>
				</div>
			</div>
			<div style="margin-top: 20px;">
				{{ rule.body | raw }}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block body_javascripts %}
	<paper-dialog id="delete-dialog" heading="Delete" transition="paper-dialog-transition-center">
		<p>Are you sure you want to delete the ruleset <span id="delete-id">ERROR</span></p>

		<paper-button label="Cancel" affirmative></paper-button>
		<paper-button id="delete-button" label="Delete" affirmative autofocus></paper-button>
	</paper-dialog>

	{{ parent() }}

	<script>
		function showDeleteDialog(rule, path) {
			$("#delete-id").html(rule);
			$("#delete-button").click(function() {
				window.location = path;
			});

			var dialog = document.querySelector('#delete-dialog');
			dialog.toggle();
		}
	</script>
{% endblock %}
