{# src/Hvz/GameBundle/Resources/views/Admin/users.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog-transition.html') }}">
{% endblock %}

{% block toolbar %}
	Administration: Users
{% endblock %}

{% block content %}
	{{ parent() }}

	{% for user in users %}
		<div class="card" horizontal layout justified wrap>
			<paper-shadow z="1"></paper-shadow>
			<div class="card-section" flex>
				<p><strong>Name:</strong> {{ user.fullname }}</p>
				<p><strong>Email:</strong> {{ user.email }}</p>
			</div>
			<div class="card-section" flex>
				<p><strong>Access:</strong> {{ user.access }}</p>
			</div>
			<div class="card-section" vertical layout flex>
				<a href="{{ path('hvz_admin_profiles_by_user', {'user': user.id}) }}"><paper-button label="{{ user.profiles }} Profiles"></paper-button></a>
				<a href="{{ path('hvz_admin_profile_generate', {'id': user.id, 'token': csrf_token('hvz_profile_generate')}) }}"><paper-button label="Generate Profile"></a>
			</div>
			<div class="card-section" vertical layout flex>
				<a href="{{ path('hvz_admin_user_edit', {'id': user.id}) }}"><paper-button label="Edit" raisedButton></paper-button></a>
				<a href="#" onclick="showDeleteDialog('{{ user.fullname | e('js') }}', '{{ path('hvz_admin_user_delete', {'id': user.id, 'token': csrf_token('hvz_user_delete')}) }}')">
					<paper-button label="Delete" raisedButton></paper-button>
				</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block body_javascripts %}
	<paper-dialog id="delete-dialog" heading="Delete" transition="paper-dialog-transition-center">
		<p>Are you sure you want to delete the user <span id="delete-id">ERROR</span></p>

		<paper-button label="Cancel" affirmative></paper-button>
		<paper-button id="delete-button" label="Delete" affirmative autofocus></paper-button>
	</paper-dialog>

	{{ parent() }}

	<script>
		function showDeleteDialog(user, path) {
			$("#delete-id").html(user);
			$("#delete-button").click(function() {
				window.location = path;
			});

			var dialog = document.querySelector('#delete-dialog');
			dialog.toggle();
		}
	</script>
{% endblock %}
