{% extends 'HvzGameBundle:Admin:base.html.twig' %}
{% import 'HvzGameBundle::components.html.twig' as components %}

{% block title %}
    Users | {{ parent() }}
{% endblock %}

{% block body_def %}
    class="navbar-offset"
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ components.navbar('fixed-top', 'admin', 'users') }}

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-4">
                <form role="search" action="{{ path('hvz_admin_users_search') }}" method="get">
                    <div class="input-group">
                        <input name="term" type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="vertical-space"></div>

        {% for user in users %}
            <div class="row well">
                <div class="col-sm-4">
                    <p><strong>Name:</strong> {{ user.fullname }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Access:</strong> {{ user.access }}</p>
                </div>
                <div class="col-sm-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="{{ path('hvz_admin_profiles_by_user', {'user': user.id}) }}">
                                {{ user.profiles }} Profile{% if user.profiles != 1 %}s{% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('hvz_admin_profile_generate', {'id': user.id, 'token': csrf_token('hvz_profile_generate')}) }}">
                                Generate Profile
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="nav nav-stacked nav-pills">
                        <li>
                            <a href="{{ path('hvz_admin_user_edit', {'id': user.id}) }}">
                                Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="showDeleteDialog('{{ user.fullname | e('js') }}', '{{ path('hvz_admin_user_delete', {'id': user.id, 'token': csrf_token('hvz_user_delete')}) }}')">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        {% if previous_page is defined or next_page is defined %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <ul class="pager">
                        {% if previous_page is defined and previous_page != -1 %}
                            <li><a href="{{ path('hvz_admin_users', {'page': previous_page}) }}">&larr; Previous</a></li>
                        {% endif %}
                        {% if next_page is defined and next_page != -1%}
                            <li><a href="{{ path('hvz_admin_users', {'page': next_page}) }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block body_javascripts %}
	{{ components.delete_dialog('Are you sure you want to delete the user') }}

	{{ parent() }}

    {{ components.delete_dialog_script() }}
{% endblock %}
