{# src/Hvz/GameBundle/Resources/views/Admin/view_profile.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-tooltip/core-tooltip.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-dialog/paper-dialog-transition.html') }}">
{% endblock %}

{% block toolbar %}
	Administration: View Profile
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card" vertical layout>
		<paper-shadow z="1"></paper-shadow>
		<div horizontal layout wrap>
			{% if profile.avatar %}
				<img src="{{ asset(profile.avatar) }}" alt="avatar" class="avatar">
			{% else %}
				<img src="holder.js/100x100" alt="avatar" class="avatar">
			{% endif %}
			<p>
				<a href="{{ path('hvz_admin_profile_avatar_change', {'id': profile.id}) }}">
					<paper-button label="Change Avatar" raisedButton></paper-button>
				</a>
			</p>
		</div>
		<div horizontal layout justified wrap>
			<div class="card-section" vertical layout flex>
				<p><strong>User:</strong> {{ profile.user }}</p>
				<p><strong>Game:</strong> {{ profile.game }}</p>
			</div>
			<div class="card-section" vertical layout flex>
				<p><strong>Active:</strong> {{ profile.active }}</p>
				<p><strong>Team:</strong> {{ profile.team }}</p>
				<p><strong>Clan:</strong> {{ profile.clan | default('none') }}</p>
			</div>
			<div class="card-section" horizontal layout wrap>
				{% for badge in profile.badges %}
					<core-tooltip class="badge">
						<div>
							<img src="{{ asset('bundles/hvzgame/images/badges/' ~ badge.image) }}"
								alt="{{ badge.name }} badge">
						</div>
						<div tip>
							<p><strong>{{ badge.name }}</strong></p>
							<p>{{ badge.description }}</p>
						</div>
					</core-tooltip>
				{% endfor %}
			</div>
			<div class="card-section" vertical layout flex>
				<p><a href="{{ path('hvz_admin_profile_edit', {'id': profile.id}) }}"><paper-button label="Edit" raisedButton></paper-button></a></p>
				<p><a href="{{ path('hvz_admin_profile_give_badge', {'id': profile.id}) }}"><paper-button label="Give Badge" raisedButton></paper-button></a></p>
				<p>
					<a href="#" onclick="showDeleteDialog('{{ profile.user | e('js') }}','{{ path('hvz_admin_profile_delete', {'id': profile.id, 'token': csrf_token('hvz_profile_delete')}) }}')">
						<paper-button label="Delete" raisedButton></paper-button>
					</a>
				</p>
			</div>
		</div>
		<div horizontal layout wrap>
			<div class="card-section">
				<p><strong>Player ID:</strong> {{ profile.player_id }}</p>
				<p><strong>ID Tags:</strong></p>
				<ul>
					{% for id_tag in profile.id_tags %}
						<li>{% if id_tag.active == false %}<strike>{% endif %}{{ id_tag.data }}{% if id_tag.active == false %}</strike>{% endif %}</li>
					{% endfor %}
				</ul>
				<p><a href="{{ path('hvz_admin_profile_add_tag', {'id': profile.id}) }}"><paper-button label="New ID Tag" raisedButton></paper-button></a></p>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	{{ parent() }}

	<paper-dialog id="delete-dialog" heading="Delete" transition="paper-dialog-transition-center">
		<p>Are you sure you want to delete the profile for <span id="delete-id">ERROR</span></p>

		<paper-button label="Cancel" affirmative></paper-button>
		<paper-button id="delete-button" label="Delete" affirmative autofocus></paper-button>
	</paper-dialog>

	{{ parent() }}

	<script>
		function showDeleteDialog(profile, path) {
			$("#delete-id").html(profile);
			$("#delete-button").click(function() {
				window.location = path;
			});

			var dialog = document.querySelector('#delete-dialog');
			dialog.toggle();
		}
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.min.js"></script>
{% endblock %}
