{# src/Hvz/GameBundle/Resources/views/Admin/missions.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Admin Panel</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': 'missions'} %}

		<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 text-right">
						Actions:
						<a href="{{ path('hvz_admin_mission_create') }}">Create</a>
					</div>
				</div>
			{% for mission in missions %}
				<div class="row">
					<div class="col-md-12 well">
						<div class="alert alert-info">
							<h3 class="text-center">{{ mission.title }}</h3>
							<p><strong>Game:</strong> {{ mission.game }}</p>
							<p><strong>Team:</strong> {{ mission.team }}</p>
							<p><strong>Post date:</strong> {{ mission.postdate }}</p>
							<p>
								<strong>Actions:</strong>
								<a class="btn btn-primary" href="{{ path('hvz_admin_mission_edit', {'id': mission.id}) }}">Edit</a> |
								<a class="btn btn-danger" href="{{ path('hvz_admin_mission_delete', {'id': mission.id}) }}">Delete</a>
							</p>
						</div>
						{{ mission.body | raw | nl2br }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}