{# src/Hvz/GameBundle/Resources/views/Admin/profiles.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Admin Panel</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': 'profiles'} %}

		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>User</th>
								<th>Game</th>
								<th>Active</th>
								<th>Team</th>
								<th># Tagged</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for profile in profiles %}
								<tr>
									<td>{{ profile.user }}</td>
									<td>{{ profile.game }}</td>
									<td>{{ profile.active }}</td>
									<td>
										{% if profile.team == 'human' %}
											<img src="{{ asset('bundles/hvzgame/images/fist.png') }}" alt="Human" title="Human" width="32" height="32">
										{% else %}
											<img src="{{ asset('bundles/hvzgame/images/biohazard.png') }}" alt="Zombie" title="Zombie" width="32" height="32">
										{% endif %}
									</td>
									<td>{{ profile.numberTagged }}</td>
									<td>
										<a href="{{ path('hvz_admin_profile_view', {'id': profile.id}) }}">View</a> |
										<a href="{{ path('hvz_admin_profile_edit', {'id': profile.id}) }}">Edit</a> |
										<a href="{{ path('hvz_admin_profile_delete', {'id': profile.id}) }}">Delete</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}