{# src/Hvz/GameBundle/Resources/views/Admin/rules.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Admin Panel</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': 'rules'} %}

		<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 text-right">
						Actions:
						<a href="{{ path('hvz_admin_rule_create') }}">Create</a>
					</div>
				</div>
			{% for rule in rules %}
				<div class="row">
					<div class="col-md-12 well">
						<div class="alert alert-info">
							<h3 class="text-center">{{ rule.title }}</h3>
                            <p><strong>Position: </strong> {{ rule.position }}</p>
							<p>
								<strong>Actions:</strong>
								<a class="btn btn-primary" href="{{ path('hvz_admin_rule_edit', {'id': rule.id}) }}">Edit</a> |
								<a class="btn btn-danger" href="{{ path('hvz_admin_rule_delete', {'id': rule.id}) }}">Delete</a>
							</p>
						</div>
						{{ rule.body | raw | nl2br }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}