{# src/Hvz/GameBundle/Resources/views/Admin/users.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Admin Panel</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': 'users'} %}

		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Access</th>
								<th>Profiles</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.fullname }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.access }}</td>
									<td><a href="{{ path('hvz_admin_profiles_by_user', {'user': user.id}) }}">{{ user.profiles }}</a></td>
									<td>
										<a href="{{ path('hvz_admin_user_edit', {'id': user.id}) }}">Edit</a> |
										<a href="{{ path('hvz_admin_user_delete', {'id': user.id}) }}">Delete</a> |
										<a href="{{ path('hvz_admin_profile_generate', {'id': user.id}) }}">Generate Profile</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}