{# src/Hvz/GameBundle/Resources/views/Admin/view_profile.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block pre_container %}
	{{ render(controller('HvzGameBundle:Component:navbar', { active: 'admin' })) }}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Admin Panel</h1>
		</div>
	</div>

	<div class="row">
		{% include 'HvzGameBundle:Component:admin_nav.html.twig' with {'active': 'profiles'} %}

		<div class="col-md-10">
			<ul>
				<li><strong>User:</strong> {{ profile.user }}</li>
				<li><strong>Game:</strong> {{ profile.game }}</li>
				<li><strong>Active:</strong> {{ profile.active }}</li>
				<li>
					<strong>Team:</strong>
					{% if profile.team == 'human' %}
						<img src="{{ asset('bundles/hvzgame/images/fist.png') }}" alt="Human" title="Human" width="32" height="32">
					{% else %}
						<img src="{{ asset('bundles/hvzgame/images/biohazard.png') }}" alt="Zombie" title="Zombie" width="32" height="32">
					{% endif %}
				</li>
				<li><strong>Player ID:</strong> {{ profile.player_id }}</li>
				<li>
					<strong>ID Tags</strong>
					<ul>
						{% for id_tag in profile.id_tags %}
							<li>{% if id_tag.active == false %}<strike>{% endif %}{{ id_tag.data }}{% if id_tag.active == false %}</strike>{% endif %}</li>
						{% endfor %}
						<li><a href="{{ path('hvz_admin_profile_add_tag', {'id': profile.id}) }}">New ID Tag</a></li>
					</ul>
				</li>
				<li>
					<strong>Actions:</strong>
					<a href="{{ path('hvz_admin_profile_edit', {'id': profile.id}) }}">Edit</a> |
					<a href="{{ path('hvz_admin_profile_delete', {'id': profile.id}) }}">Delete</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}