{% macro nav_internal_link(id, url, text, selected) %}
    <li{% if id == selected %} class="active"{% endif %}><a href="{{ url }}">{{ text }}</a></li>
{% endmacro %}

{% macro navbar(type, selected, selected2) %}
    {% import _self as components %}
    <div class="navbar navbar-default navbar-{{ type }}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="visible-lg visible-md navbar-brand navbar-brand-centered">
                    <a href="#">
                        {% if type == "lower" %}
                            <img class="logo" src="holder.js/150x150" alt="HvZ @ RIT">
                        {% else %}
                            <img class="logo" src="holder.js/100x100" alt="HvZ @ RIT">
                        {% endif %}
                    </a>
                </div>
                <div class="visible-xs visible-sm navbar-brand">
                    HvZ @ RIT
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-main-nav">
                <ul class="nav navbar-nav">
                    {{ components.nav_internal_link('status', path('hvz_index'), 'Status', selected) }}
                    {{ components.nav_internal_link('players', path('hvz_players'), 'Players', selected) }}
                    {{ components.nav_internal_link('tags', path('hvz_tags'), 'Tags', selected) }}
                    {{ components.nav_internal_link('spread', '#', 'Spread', selected) }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        {{ components.nav_internal_link('missions', path('hvz_missions'), 'Missions', selected) }}
                    {% endif %}
                    {{ components.nav_internal_link('rules', path('hvz_rules'), 'Rules', selected) }}
                    {{ components.nav_internal_link('register-tag', path('hvz_register_tag'), 'Register Tag', selected) }}

                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown{% if selected == 'user' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ app.user.fullname | escape }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {{ components.nav_internal_link('profile', path('hvz_profile'), 'Profile', selected2) }}
                                <li><a href="{{ path('hvz_auth_logout', {'token': csrf_token('hvz_auth_logout')}) }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('hvz_auth_login') }}">Login</a></li>
                                <li><a href="{{ path('hvz_auth_register') }}">Register</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_MOD') %}
                        <li class="dropdown{% if selected == 'admin' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ components.nav_internal_link('games', path('hvz_admin_games'), 'Games', selected2) }}
                                {{ components.nav_internal_link('users', path('hvz_admin_users'), 'Users', selected2) }}
                                {{ components.nav_internal_link('profiles', path('hvz_admin_profiles'), 'Profiles', selected2) }}
                                {{ components.nav_internal_link('missions', path('hvz_admin_missions'), 'Missions', selected2) }}

                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ components.nav_internal_link('rules', path('hvz_admin_rules'), 'Rules', selected2) }}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}