{# src/Hvz/GameBundle/Resources/views/page.html.twig #}
{% extends 'HvzGameBundle::base.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-scaffold/core-scaffold.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-header-panel/core-header-panel.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-menu/core-menu.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-menu/core-submenu.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-item/core-item.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-shadow/paper-shadow.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-toast/paper-toast.html') }}">
{% endblock %}

{% block body %}
	{{ parent() }}

	<core-scaffold>
		<core-header-panel navigation flex mode="seamed">
			<core-toolbar>HvZ</core-toolbar>
			<core-menu theme="core-light-theme" selected="{{ navigation.selected }}">
				{% for link in navigation.links %}
					<core-item id="menu-{{ link.id }}" icon="{{ link.icon }}" label="{{ link.label }}" onclick="javascript:void(0);window.location='{{ link.link | e('js') }}'">
					</core-item>
				{% endfor %}

				{% if navigation.admin is not null %}
					<core-submenu icon="settings" label="Administration">
						{% for link in navigation.admin %}
							<core-item id="menu-admin-{{ link.id }}" icon="{{ link.icon }}" label="{{ link.label }}" onclick="javascript:void(0);window.location='{{ link.link | e('js') }}'">
							</core-item>
						{% endfor %}
					</core-submenu>
				{% endif %}

				{% if app.user %}
					<core-submenu icon="account-box" label="{{ app.user.fullname | escape }}">
						<core-item id="menu-profile" label="Profile" onclick="javascript:void(0);window.location='{{ path('hvz_profile') | e('js') }}'">
						</core-item>
						<core-item id="menu-logout" label="Logout" onclick="javascript:void(0);window.location='{{ path('hvz_auth_logout', {'token': csrf_token('hvz_auth_logout')}) | e('js') }}'">
						</core-item>
					</core-submenu>
				{% else %}
					<core-submenu icon="account-box" label="Account">
						<core-item id="menu-login" label="Login" onclick="javascript:void(0);window.location='{{ path('hvz_auth_login') | e('js') }}'">
						</core-item>
						<core-item id="menu-register" label="Register" onclick="javascript:void(0);window.location='{{ path('hvz_auth_register') | e('js') }}'">
						</core-item>
					</core-submenu>
				{% endif %}
			</core-menu>
		</core-header-panel>

		<div id="page-toolbar" tool>
			{% block toolbar %}
				{{ navigation.links[navigation.selected].label }}
			{% endblock %}
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</core-scaffold>

	{% for toast in app.session.flashbag.get('page.toast') %}
		<paper-toast id="page-toast-{{ loop.index0 }}" text="{{ toast }}" opened="true" duration="4500">
		</paper-toast>
	{% endfor %}
{% endblock %}
