{# src/Hvz/GameBundle/Resources/views/Game/players.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		div.player-info {
			margin-left: 10px;
		}
	</style>
{% endblock %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-icon/core-icon.html') }}">
	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/core-tooltip/core-tooltip.html') }}">
{% endblock %}

{% block toolbar %}
	<span flex>{{ parent() }}</span>
{% endblock %}

{% block content %}
	{{ parent() }}

	<div horizontal layout center center-justified>
		<core-icon icon="filter"></core-icon>
		<a href="{{ path('hvz_players') }}"><paper-button label="Team"></paper-button></a>
		<a href="{{ path('hvz_players', {'sort': 'clan'}) }}"><paper-button label="Clan"></paper-button></a>
	</div>

	{% for player in players %}
		<div class="card {% if player.team == 'human' %}card-human{% else %}card-zombie{% endif %}" horizontal layout>
			<paper-shadow z="1"></paper-shadow>
			<div class="card-internal" horizontal layout>
				<div class="card" style="width: 100px; height: 100px;" vertical layout center center-justified>
					<paper-shadow z="2"></paper-shadow>
					<div class="card-internal">
						<img src="{{ player.avatar | default('holder.js/100x100') }}" alt="avatar" width="100px" height="100px">
					</div>
				</div>
				<div class="player-info card-section">
					<h3 class="header" style="color: black;">{{ player.fullname }}</h3>
					<p><strong>Tags: </strong> {{ player.tags }}</p>
					<p><strong>Clan:</strong> {{ player.clan | default('none') }}</p>
				</div>
				<div class="card-section" horizontal layout wrap>
					{% for badge in player.badges %}
						<core-tooltip label="{{ badge.name }}">
							<img src="{{ asset('bundles/hvzgame/images/badges/' ~ badge.image) }}"
								alt="{{ badge.name }} badge"
								width="32" height="32">
						</core-tooltip>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block body_javascripts %}
	{{ parent() }}

	<script src="http://cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.min.js"></script>
{% endblock %}
