{# src/Hvz/GameBundle/Resources/views/Game/rules.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/paper-button/paper-button.html') }}">
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal">
			<h3 class="header">Jump to section:</h3>
			{% for rule in rules %}
				<a href="#rule-{{ loop.index }}"><paper-button label="{{ rule.title }}"></paper-button></a>
			{% endfor %}
		</div>
	</div>

	{% for rule in rules %}
		<div class="card">
			<paper-shadow z="1"></paper-shadow>
			<div class="card-internal">
				<a id="rule-{{ loop.index }}"><h2 class="header">{{ rule.title }}</h2></a>
				<div>
					{{ rule.body | raw }}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
