{# src/Hvz/GameBundle/Resources/views/Game/video.html.twig #}
{% extends 'HvzGameBundle::page.html.twig' %}

{% block components %}
	{{ parent() }}

	<link rel="import" href="{{ asset('bundles/hvzgame/bower_components/google-youtube/google-youtube.html') }}">
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal">
			<h2 class="header">Rules Video</h2>
			<div>
				<google-youtube videoid="6b6xwUA1pOA">
				</google-youtube>
			</div>
		</div>
	</div>

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal">
			<h2 class="header">Play Area</h2>
			<div>
				<img src="{{ asset('bundles/hvzgame/images/map_playarea.jpg ')}}" alt="play area" width="100%">
			</div>
		</div>
	</div>

	<div class="card">
		<paper-shadow z="1"></paper-shadow>
		<div class="card-internal">
			<h2 class="header">Vestibules / Safe Zones</h2>
			<div>
				<p>Note: This is not conclusive. There are way more than the ones listed here.</p>
				<img src="{{ asset('bundles/hvzgame/images/map_safezones.jpg ')}}" alt="safe zones" width="100%">
			</div>
		</div>
	</div>
{% endblock %}
